.resumeCard {
    max-height: 45rem;
    padding: 2rem 2rem .7rem 2rem;
}

.rcList {
    padding-inline-start: 1.1rem;
}

fade {
    position: absolute;
    bottom: 0px;

    display: block;
  
    width: 100%;
    height: 50px;
  
    background-image: linear-gradient(to bottom, 
        rgba(255, 255, 255, 0), 
        rgba(255, 255, 255, 1)
    90%);
}