body {
    font-family: 'Roboto Condensed', sans-serif;
}

.cusMar {
    margin-bottom: auto;
}

.cusImg {
    width: 12rem;
}

.cusCusImg {
    width: 12rem;
    height: 12rem;
}

#bannerMain {
    height: 100%;
}

#bannerMinor {
    height: 100%;
}